.botCarrito{
    font-size: 15px;
    text-decoration: none;
    border-radius:15px;
    outline:none;
    top: 9px;
    right: 80px;
    position: absolute;
}

.numCarrito{
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 120px;
    position: absolute;
    color: aliceblue;
    border-radius:50%;
    background-color: red;
    display:none
}
.conte-carr{
    box-sizing: content-box;
    position: absolute;
	top: 50px;
	right: 0;
    
	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}